@font-face {
  font-family: 'GraphikSemibold';
  src: url(Graphik-Font-Family/GraphikSemibold.otf) format('opentype');
}

@font-face {
  font-family: 'GraphikLight';
  src: url(Graphik-Font-Family/GraphikLight.otf) format('opentype');
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin:0 auto;
  height: 110vh;
  background: rgb(6,7,9);
  background: linear-gradient(360deg, rgba(6,7,9,1) 0%, rgba(32,39,46,0.9528186274509804) 65%);
  font-family: 'GraphikSemibold'
}

.navbar-container{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #14191d;
  
}

.welcome-message{
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  font-family: 'GraphikLight';
  font-weight: normal;
  font-size: 25px;
  color: #99AABB;
}

.user-name-message{
  color: white;
  font-size: 25px;
}

.banner{
  width: 987px;
  margin-right: 8px;
  margin-top: 70px;
  margin-bottom: 30px;
}